@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.4) ), url(assets/images/hero_1.jpg);
    background-size: cover;
}
.btn1{
    height: 60px;
    width: 175px;
    background-color: #037EF3;
    color: white;
    font-weight: 500;
    border-radius: 7px;
    transition-duration: 0.3s;
}
.btn1:hover{
    transform: translateY(-5px);
}
.btn2 {
    height: 60px;
    width: 175px;
    background-color: transparent;
    border: 2px solid white;
    font-weight: 500;
    color: white;
    border-radius: 7px;
    transition-duration: 0.3s;
}
.btn2:hover{
    background-color: white;
    color: black;
    border: none;
    transform: translateY(-5px);
}

.a{
    transition-duration: 0.3s;
}
.a:hover{
    border-radius: 10px;
    box-shadow: 0 26px 58px 0 rgba(255, 255, 255, .22), 0 5px 14px 0 rgba(255, 255, 255, .18);
    scale: 1.02;
}
